html,
body {
  overflow: hidden; /* remove scroll */
}

.backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: block;
  z-index: -1;
}
main {
  background-color: tomato;
}
